
#  Cleaning/Formatting Flat File Source

In [1]:
# Importing the Required libraries 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

In [2]:
# Setting global options for the notebook such as maxrows
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', None)
pd.set_option("display.max_rows", 50)
import warnings
warnings.filterwarnings('ignore')

#### ***Overview of the Approach in this Project:*** 

##### 1. In this project, three csv files- Person, Race and Weather are read using pandas library and loaded as Dataframes. 
##### 2. The dataframes are then cleansed such as removing duplicates, treating Nulls, convering to upper case, remove spaces, etc.
##### 3. Data in the three dataframes are then merged into a single dataframe using common keys. After each step, the resulting dataframe is cleansed .
##### 4. New columns are then added to the merged dataframed and the fields that are not necessary are dropped.
##### 5. The values in the columns of the merged dataframes are then Standardized by removing redundant categories and replacing them with general categories.
##### 6. New dataframes are then created from the merged dataframe which will later be used for building Visualizations.

In [3]:
# Importing the person file from the local directory
path=os.getcwd()
person_file_path=path+"\\person.csv"
# creating a dataframe for the person file 
person_orig_df=pd.read_csv(person_file_path)
# Printing top 5 rows from Person Dataframe
person_orig_df.head()

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,VE_FORMS,COUNTY,MONTH,MONTHNAME,DAY,DAYNAME,HOUR,HOURNAME,MINUTE,MINUTENAME,HARM_EV,HARM_EVNAME,MAN_COLL,MAN_COLLNAME,SCH_BUS,SCH_BUSNAME,MOD_YEAR,MOD_YEARNAME,VPICMAKE,VPICMAKENAME,...,LAG_MINS,LAG_MINSNAME,STR_VEH,LOCATION,LOCATIONNAME,WORK_INJ,WORK_INJNAME,HISPANIC,HISPANICNAME,RUR_URB,RUR_URBNAME,FUNC_SYS,FUNC_SYSNAME,SPEC_USE,SPEC_USENAME,EMER_USE,EMER_USENAME,ROLLOVER,ROLLOVERNAME,IMPACT1,IMPACT1NAME,FIRE_EXP,FIRE_EXPNAME,MAK_MOD,MAK_MODNAME
0,1,Alabama,10001,1,1,2,115,2,February,12,12,22,10:00pm-10:59pm,10,10,12,Motor Vehicle In-Transport,2,Front-to-Front,0,No,2016.0,2016,483.0,Jeep,...,0,0,0,0,Occupant of a Motor Vehicle,0,No,7,Non-Hispanic,2,Urban,1,Interstate,0.0,No Special Use Noted,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,2407.0,Jeep / Kaiser-Jeep / Willys- Jeep Patriot
1,1,Alabama,10001,1,2,2,115,2,February,12,12,22,10:00pm-10:59pm,10,10,12,Motor Vehicle In-Transport,2,Front-to-Front,0,No,2016.0,2016,483.0,Jeep,...,99,Unknown,0,0,Occupant of a Motor Vehicle,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),2,Urban,1,Interstate,0.0,No Special Use Noted,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,2407.0,Jeep / Kaiser-Jeep / Willys- Jeep Patriot
2,1,Alabama,10001,2,1,2,115,2,February,12,12,22,10:00pm-10:59pm,10,10,12,Motor Vehicle In-Transport,2,Front-to-Front,0,No,2021.0,2021,485.0,Volvo,...,0,0,0,0,Occupant of a Motor Vehicle,0,No,7,Non-Hispanic,2,Urban,1,Interstate,0.0,No Special Use Noted,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,51404.0,"Volvo XC60 (For 2019 on. For model years 2008-2018, see 51-050.)"
3,1,Alabama,10002,1,1,1,73,2,February,11,11,18,6:00pm-6:59pm,0,0,25,Concrete Traffic Barrier,0,The First Harmful Event was Not a Collision with a Motor Vehicle in Transport,0,No,2004.0,2004,515.0,Lexus,...,0,0,0,0,Occupant of a Motor Vehicle,0,No,7,Non-Hispanic,2,Urban,1,Interstate,0.0,No Special Use Noted,0.0,Not Applicable,0.0,No Rollover,11.0,11 Clock Point,0.0,No or Not Reported,59031.0,Lexus ES-250/300/300h/330/ 350
4,1,Alabama,10002,1,2,1,73,2,February,11,11,18,6:00pm-6:59pm,0,0,25,Concrete Traffic Barrier,0,The First Harmful Event was Not a Collision with a Motor Vehicle in Transport,0,No,2004.0,2004,515.0,Lexus,...,0,0,0,0,Occupant of a Motor Vehicle,0,No,7,Non-Hispanic,2,Urban,1,Interstate,0.0,No Special Use Noted,0.0,Not Applicable,0.0,No Rollover,11.0,11 Clock Point,0.0,No or Not Reported,59031.0,Lexus ES-250/300/300h/330/ 350

In [4]:
# Getting the number of columns and Rows in the Person dataframe
person_orig_columns=[col for col in person_orig_df.columns]
print(f"There are {len(person_orig_columns)} Columns and {len(person_orig_df)} Rows in person_orig_df")

There are 126 Columns and 96747 Rows in person_orig_df

## 1. Cleansing Transformations

### Transformation 1.1 : Treating Duplicates

In [5]:
def remove_dupes(df,df_name):
    """
    This function will remove the full row duplicates and returns a clean dataframe.
    df: Dataframe to be used.
    df_name: Name of the dataframe in quotes, used for Printing the name.
    Returns: Cleansed dataframe
    """
    # Printing the shape of the dataframe before and after cleansing
    print(f"Shape Before Removing Dupes in {df_name}: {person_orig_df.shape}")
    # In place operation is performed by removing the duplicates
    df.drop_duplicates(keep='first',inplace=True)
    print(f"Shape After Removing Dupes in {df_name}: {person_orig_df.shape}")
    return df

### Transformation 1.2: Converting to String

In [6]:
def convertToStr(df):
    """
    This function converts all values in the dataframe to string.
    Input: The dataframe name
    Returns: Dataframe with all values converted to String
    """
    # Using applymap function in pandas to convert all columns and values to String
    df=df.applymap(str)
    return df

### Transformation 1.3: Treating NaN

In [7]:
def check_NaN(df,col):
    """
    This function checks the number of nulls in a columnof dataframe.
    Input: Takes the name of dataframe and the column name
    Returns: The count of nulls in the column
    """
    col_nan=df[col].isnull().sum()
    return col_nan

In [8]:
def fill_NaN(df,col,fill_value):
    """
    This function calls the check_NaN to verify the presence of Nulls. If present, they are filled with  filler.
    Input: Takes, Dataframe name, Column name and the Filler value as Inputs.
    Performs an inplace update of filling Nulls with Filler.
    Also Prints the number of nulls present in the column.    
    """
    # Calling the check_NaN function to verify if nulls are present
    col_nan= check_NaN(df,col)
    # If Nulls are present, they are replaced with Fillers
    if col_nan >0:
        print(f"There are {col_nan} NaN values in the {col} column ")
        # Inplace update is performed by replacing NaN with filler and results are printed
        df[col].fillna(fill_value,inplace=True)
        print(f"Nulls are replaced with {fill_value} in the {col} column ")
    # If nulls are not present, the result is just printed.
    else:
        print(f"There are NO NaN values in the {col} column ")

### Transformation 1.4: Converting to Upper case and remove  exta spaces

In [9]:
def toUpper(df,col):
    """
    This fnction converts all the values in the given column of dataframe to Upper case and removes extra spaces from the string..
    Inputs: Dataframe name and Column Name.
    Performs an inplace update by converting to Upper case and removing extra spaces.
    """
    try:
        # Using apply method to convert to UpperCase and strip spaces.
        df[col]=df[col].apply(str.strip)
        df[col]=df[col].apply(str.upper)
    except TypeError:
        pass

### Transformation 1.5: Cleanse Function for the Dataframe

In [10]:
def cleanse_df(df,df_name):
    """
    This function cleanses all the columns and values for the entire dataframe such as removing dupes,
    treating Nulls,converting to Upper, strip spaces, etc.
    Input: Dataframe to be cleansed
    Returns: Returns a cleansed dataframe
    """
    # Printing the header while cleansing begins
    print("*"*50)
    print(f"Cleansing the Dataframe: {df_name}")
    print("*"*50)
    print("\nChecking for Nulls:\n")
    # Nulls are checked by all the columns calling fill_NaN function which inturn calls check_NaN function
    for col in df.columns:
        # FILLER is used to replace NaNs
        fill_NaN(df,col,'FILLER')
        # Converting to Upper case and remove extra spaces
        toUpper(df,col)
    # All the values in the dataframe and converted to String type which is required for Joins
    df=convertToStr(df)
    # Removing the full row duplicates
    print("\nChecking Duplicates \n")
    df=remove_dupes(df,df_name)
    return df

### Transformation 1.6: Function to replace values

In [11]:
def inplace_Replace(df,col,list_of_val,replace_val,inplace=True):
    """
    This function performs an inplace replace for standardizing the data.
    Inputs:
        df: Name of the dataframe
        col: Name of the column where the values are replaced
        list_of_val: The list of values to be replaced in the column.
        replace_val: The Replacement value
        inplace: This is True by default to perform inplace updates
    """
    df[col].replace(list_of_val, replace_val,inplace=True)

## 2. Data Transformations

### Transformation 2.1: Creating Subset of Person dataframe

In [12]:
# Subset dataframe is created by only selecting the required columns from the Original Person dataframe
person_subset_df1=person_orig_df[['STATE','STATENAME','ST_CASE','VEH_NO','PER_NO',
                                  'COUNTY','MONTH','DAY','HOUR','MINUTE','HARM_EVNAME',
                                  'VPICBODYCLASSNAME','AGE','SEXNAME','PER_TYPNAME','INJ_SEVNAME','AIR_BAGNAME',
                                 'DRINKINGNAME','ALC_DETNAME','ALC_RESNAME','DOANAME','DEATH_DA',
                                  'DEATH_MO','DEATH_YR','DEATH_HR','DEATH_MN','RUR_URBNAME']]

In [13]:
# Calling the Cleansing function 
person_subset_df1=cleanse_df(person_subset_df1,'person_subset_df1')

**************************************************
Cleansing the Dataframe: person_subset_df1
**************************************************

Checking for Nulls:

There are NO NaN values in the STATE column
There are NO NaN values in the STATENAME column
There are NO NaN values in the ST_CASE column
There are NO NaN values in the VEH_NO column
There are NO NaN values in the PER_NO column
There are NO NaN values in the COUNTY column
There are NO NaN values in the MONTH column
There are NO NaN values in the DAY column
There are NO NaN values in the HOUR column
There are NO NaN values in the MINUTE column
There are NO NaN values in the HARM_EVNAME column
There are 9136 NaN values in the VPICBODYCLASSNAME column
Nulls are replaced with FILLER in the VPICBODYCLASSNAME column
There are NO NaN values in the AGE column
There are NO NaN values in the SEXNAME column
There are NO NaN values in the PER_TYPNAME column
There are NO NaN values in the INJ_SEVNAME column
There are NO NaN values in the AIR_BAGNAME column
There are NO NaN values in the DRINKINGNAME column
There are NO NaN values in the ALC_DETNAME column
There are NO NaN values in the ALC_RESNAME column
There are NO NaN values in the DOANAME column
There are NO NaN values in the DEATH_DA column
There are NO NaN values in the DEATH_MO column
There are NO NaN values in the DEATH_YR column
There are NO NaN values in the DEATH_HR column
There are NO NaN values in the DEATH_MN column
There are NO NaN values in the RUR_URBNAME column

Checking Duplicates

Shape Before Removing Dupes in person_subset_df1: (96747, 126)
Shape After Removing Dupes in person_subset_df1: (96747, 126)

In [14]:
# Printing the results of person_subset_df1 after Cleansing
person_subset_df1.head()

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,MONTH,DAY,HOUR,MINUTE,HARM_EVNAME,VPICBODYCLASSNAME,AGE,SEXNAME,PER_TYPNAME,INJ_SEVNAME,AIR_BAGNAME,DRINKINGNAME,ALC_DETNAME,ALC_RESNAME,DOANAME,DEATH_DA,DEATH_MO,DEATH_YR,DEATH_HR,DEATH_MN,RUR_URBNAME
0,1,ALABAMA,10001,1,1,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),31,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,2,2021,22,10,URBAN
1,1,ALABAMA,10001,1,2,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),3,FEMALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,SUSPECTED MINOR INJURY (B),NOT DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,88,88,8888,88,88,URBAN
2,1,ALABAMA,10001,2,1,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),25,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,2,2021,22,10,URBAN
3,1,ALABAMA,10002,1,1,73,2,11,18,0,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,2,2021,18,0,URBAN
4,1,ALABAMA,10002,1,2,73,2,11,18,0,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,2,2021,18,0,URBAN

In [15]:
# Reading the second file- race.csv and loading into Dataframe
race_file_path=path+"\\race.csv"
race_orig_df=pd.read_csv(race_file_path)

### Transformation 2.2: Creating Subset of Race Dataframe

In [16]:
# Only the required columns from the Race Dataframe are read into the subset dataframe
race_subset_df=race_orig_df[['STATE','STATENAME','ST_CASE','VEH_NO','PER_NO','RACENAME']]
# Data Cleansing function is called to clean the Race Dataframe
race_subset_df=cleanse_df(race_subset_df,'race_subset_df')
race_subset_df.head()

**************************************************
Cleansing the Dataframe: race_subset_df
**************************************************

Checking for Nulls:

There are NO NaN values in the STATE column
There are NO NaN values in the STATENAME column
There are NO NaN values in the ST_CASE column
There are NO NaN values in the VEH_NO column
There are NO NaN values in the PER_NO column
There are NO NaN values in the RACENAME column

Checking Duplicates

Shape Before Removing Dupes in race_subset_df: (96747, 126)
Shape After Removing Dupes in race_subset_df: (96747, 126)

  STATE STATENAME ST_CASE VEH_NO PER_NO                         RACENAME
0     1   ALABAMA   10001      1      1        BLACK OR AFRICAN AMERICAN
1     1   ALABAMA   10001      1      2  NOT A FATALITY (NOT APPLICABLE)
2     1   ALABAMA   10001      2      1                          CHINESE
3     1   ALABAMA   10002      1      1        BLACK OR AFRICAN AMERICAN
4     1   ALABAMA   10002      1      2        BLACK OR AFRICAN AMERICAN

### Transformation 2.3: Merging Person and Race Dataframes

In [17]:
# Person and Race dataframes are merged based on the fields ST_CASE,VEH_NO and PER_NO and Inner join is performed.
person_subset_df1=person_subset_df1.merge(race_subset_df,on=['ST_CASE','VEH_NO','PER_NO'],how='inner').drop_duplicates()

### Transformation 2.4: Columns are renamed and dropped in the Merged dataframe

In [18]:
# State and Statename columns are renamed and redundant columns are dropped from the Race and Person Merged dataframe
person_subset_df1.rename(columns = {'STATE_x':'STATE','STATENAME_x':'STATENAME'}, inplace = True)
person_subset_df1=person_subset_df1.drop(['STATE_y','STATENAME_y'],axis=1)
person_subset_df1.head()

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,MONTH,DAY,HOUR,MINUTE,HARM_EVNAME,VPICBODYCLASSNAME,AGE,SEXNAME,PER_TYPNAME,INJ_SEVNAME,AIR_BAGNAME,DRINKINGNAME,ALC_DETNAME,ALC_RESNAME,DOANAME,DEATH_DA,DEATH_MO,DEATH_YR,DEATH_HR,DEATH_MN,RUR_URBNAME,RACENAME
0,1,ALABAMA,10001,1,1,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),31,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,2,2021,22,10,URBAN,BLACK OR AFRICAN AMERICAN
1,1,ALABAMA,10001,1,2,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),3,FEMALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,SUSPECTED MINOR INJURY (B),NOT DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,88,88,8888,88,88,URBAN,NOT A FATALITY (NOT APPLICABLE)
2,1,ALABAMA,10001,2,1,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),25,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,2,2021,22,10,URBAN,CHINESE
3,1,ALABAMA,10002,1,1,73,2,11,18,0,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,2,2021,18,0,URBAN,BLACK OR AFRICAN AMERICAN
4,1,ALABAMA,10002,1,2,73,2,11,18,0,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,2,2021,18,0,URBAN,BLACK OR AFRICAN AMERICAN

In [19]:
# Reading the third file- weather.csv and loading into Dataframe
weather_file_path=path+"\\weather.csv"
weather_orig_df=pd.read_csv(weather_file_path)

### Transformation 2.5: Creating subset of Weather Dataframe

In [20]:
# Creating a subset of Weather Dataframe
weather_subset_df=weather_orig_df[['ST_CASE','WEATHERNAME']]
# Calling cleansing function for Weather Dataframe
weather_subset_df=cleanse_df(weather_subset_df,'weather_subset_df')
weather_subset_df.head()

**************************************************
Cleansing the Dataframe: weather_subset_df
**************************************************

Checking for Nulls:

There are NO NaN values in the ST_CASE column
There are NO NaN values in the WEATHERNAME column

Checking Duplicates

Shape Before Removing Dupes in weather_subset_df: (96747, 126)
Shape After Removing Dupes in weather_subset_df: (96747, 126)

  ST_CASE WEATHERNAME
0   10001        RAIN
1   10002        RAIN
2   10003        RAIN
3   10004       CLEAR
4   10005      CLOUDY

### Transformation 2.6: Merging Person, Race and Weather Dataframes

In [21]:
# The Person and Race data are merged with Weather data based on ST_CASE column and inner join is performed
merged_df1=person_subset_df1.merge(weather_subset_df,on=['ST_CASE'],how='inner')
# Cleansing the merged dataframe
merged_df1=cleanse_df(merged_df1,'merged_df1')
merged_df1.head()

**************************************************
Cleansing the Dataframe: merged_df1
**************************************************

Checking for Nulls:

There are NO NaN values in the STATE column
There are NO NaN values in the STATENAME column
There are NO NaN values in the ST_CASE column
There are NO NaN values in the VEH_NO column
There are NO NaN values in the PER_NO column
There are NO NaN values in the COUNTY column
There are NO NaN values in the MONTH column
There are NO NaN values in the DAY column
There are NO NaN values in the HOUR column
There are NO NaN values in the MINUTE column
There are NO NaN values in the HARM_EVNAME column
There are NO NaN values in the VPICBODYCLASSNAME column
There are NO NaN values in the AGE column
There are NO NaN values in the SEXNAME column
There are NO NaN values in the PER_TYPNAME column
There are NO NaN values in the INJ_SEVNAME column
There are NO NaN values in the AIR_BAGNAME column
There are NO NaN values in the DRINKINGNAME column
There are NO NaN values in the ALC_DETNAME column
There are NO NaN values in the ALC_RESNAME column
There are NO NaN values in the DOANAME column
There are NO NaN values in the DEATH_DA column
There are NO NaN values in the DEATH_MO column
There are NO NaN values in the DEATH_YR column
There are NO NaN values in the DEATH_HR column
There are NO NaN values in the DEATH_MN column
There are NO NaN values in the RUR_URBNAME column
There are NO NaN values in the RACENAME column
There are NO NaN values in the WEATHERNAME column

Checking Duplicates

Shape Before Removing Dupes in merged_df1: (96747, 126)
Shape After Removing Dupes in merged_df1: (96747, 126)

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,MONTH,DAY,HOUR,MINUTE,HARM_EVNAME,VPICBODYCLASSNAME,AGE,SEXNAME,PER_TYPNAME,INJ_SEVNAME,AIR_BAGNAME,DRINKINGNAME,ALC_DETNAME,ALC_RESNAME,DOANAME,DEATH_DA,DEATH_MO,DEATH_YR,DEATH_HR,DEATH_MN,RUR_URBNAME,RACENAME,WEATHERNAME
0,1,ALABAMA,10001,1,1,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),31,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,2,2021,22,10,URBAN,BLACK OR AFRICAN AMERICAN,RAIN
1,1,ALABAMA,10001,1,2,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),3,FEMALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,SUSPECTED MINOR INJURY (B),NOT DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,88,88,8888,88,88,URBAN,NOT A FATALITY (NOT APPLICABLE),RAIN
2,1,ALABAMA,10001,2,1,115,2,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),25,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,2,2021,22,10,URBAN,CHINESE,RAIN
3,1,ALABAMA,10002,1,1,73,2,11,18,0,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,2,2021,18,0,URBAN,BLACK OR AFRICAN AMERICAN,RAIN
4,1,ALABAMA,10002,1,2,73,2,11,18,0,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,2,2021,18,0,URBAN,BLACK OR AFRICAN AMERICAN,RAIN

### Transformation 2.7: Pad Zeros

In [22]:
def pad_zeros(val, nbr_of_digits=2):
    """
    This function pads preceding 0's to the input value. Default length of digits is 2.
    """
    return str(val).zfill(2)

### Transformation 2.8: Handling outliers in some columns

In [23]:

# List of columns where preceding zeros are padded, this is to facilitate the conversion to DateTime format
pad_columns=['MONTH','DAY','HOUR','MINUTE','DEATH_DA','DEATH_MO','DEATH_HR','DEATH_MN']
# List of columns where the default cannot be '00' and instead it should be set to '01'
month_day_col=['DEATH_DA','DEATH_MO']
# For the pad_columns, preceding 0s are added using Lambda and map function
merged_df1 = merged_df1.assign(**{col: merged_df1[col].map(lambda val1: pad_zeros(val1)) for col in pad_columns})
# for the pad columns, outliers such as 88/97/99 are treated by converting them to 00
[inplace_Replace(merged_df1,col,["88","97","99"],"00",inplace=True) for col in pad_columns]
# For Date and Month fields the default value is updated to 01
[inplace_Replace(merged_df1,col,["00"],"01",inplace=True) for col in month_day_col]
# Outliers in the Year are treated by converting them 1900 so that they can be filtered out.
inplace_Replace(merged_df1,'DEATH_YR',["8888","9999","9997"],"1900",inplace=True)

In [24]:
merged_df1.head()

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,MONTH,DAY,HOUR,MINUTE,HARM_EVNAME,VPICBODYCLASSNAME,AGE,SEXNAME,PER_TYPNAME,INJ_SEVNAME,AIR_BAGNAME,DRINKINGNAME,ALC_DETNAME,ALC_RESNAME,DOANAME,DEATH_DA,DEATH_MO,DEATH_YR,DEATH_HR,DEATH_MN,RUR_URBNAME,RACENAME,WEATHERNAME
0,1,ALABAMA,10001,1,1,115,02,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),31,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,02,2021,22,10,URBAN,BLACK OR AFRICAN AMERICAN,RAIN
1,1,ALABAMA,10001,1,2,115,02,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),3,FEMALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,SUSPECTED MINOR INJURY (B),NOT DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,01,01,1900,00,00,URBAN,NOT A FATALITY (NOT APPLICABLE),RAIN
2,1,ALABAMA,10001,2,1,115,02,12,22,10,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),25,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,0.000 % BAC,DIED AT SCENE,12,02,2021,22,10,URBAN,CHINESE,RAIN
3,1,ALABAMA,10002,1,1,73,02,11,18,00,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,02,2021,18,00,URBAN,BLACK OR AFRICAN AMERICAN,RAIN
4,1,ALABAMA,10002,1,2,73,02,11,18,00,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,11,02,2021,18,00,URBAN,BLACK OR AFRICAN AMERICAN,RAIN

### Transformation 2.9: Adding New columns

In [25]:
# Adding Column for Year 
merged_df1['YEAR']='2021'
# Creating a new column for Time of Crash and Time of Death. Thi is created by combining vales of Year,
# Month, Day,Hour and Minute
merged_df1['TIME_OF_CRASH']=merged_df1[["YEAR", "MONTH","DAY"]].apply("-".join, axis=1)+" "+merged_df1[["HOUR", "MINUTE"]].apply(":".join, axis=1)
merged_df1['TIME_OF_DEATH']=merged_df1[["DEATH_YR", "DEATH_MO","DEATH_DA"]].apply("-".join, axis=1)+" "+merged_df1[["DEATH_HR", "DEATH_MN"]].apply(":".join, axis=1)
# Converting the String Field to DateTime type
merged_df1['TIME_OF_CRASH']= pd.to_datetime(merged_df1['TIME_OF_CRASH'])
merged_df1['TIME_OF_DEATH']= pd.to_datetime(merged_df1['TIME_OF_DEATH'])

### Transformation 2.10: Adding more columns and dropping the redundant ones

In [26]:
# Adding new column- AGE_RANGE based on the age column
# Converting the age column to Integer for age calculations
merged_df1['AGE']=merged_df1['AGE'].apply(int)
age=merged_df1['AGE']
# Creating list for Key and Values for Age Range categories
age_conditions=[
    (age <10),
    ((age >= 10) &( age < 18)),
    ((age >= 18) &( age < 30)),
    ((age >= 30) &( age < 40)),
    ((age >= 40) &( age < 50)),
    ((age >= 50) &( age < 65)),
    (age > 65)
]
age_choices  = [
      "Under 10"
    , "Between 10-18"
    , "Between 18-30"
    , "Between 30-40"
    , "Between 40-50"
    , "Between 50-65"
    , "Above 65"
]
# Adding new column AGE_RANGE in merged_df1 dataframe
merged_df1["AGE_RANGE"] = np.select(age_conditions, age_choices, "NOT REPORTED")

### Transformation 2.11: Renaming columns

In [27]:
# Creating a new merged_df2 from merged_df1 by dropping redundant columns
merged_df2=merged_df1.drop(['MONTH','DAY','YEAR','HOUR','MINUTE','DEATH_DA','DEATH_MO','DEATH_HR','DEATH_MN','DEATH_YR'], axis=1)
# REnaming columns in the merged_df2 to more easy to understand names
merged_df2.rename(columns = {'HARM_EVNAME':'HARMFUL_EVENT','VPICBODYCLASSNAME':'VEH_BODYCLASS','SEXNAME':'SEX',
                             'PER_TYPNAME':'PERSON_TYPE','INJ_SEVNAME':'INJURY_SEVERITY',
                             'AIR_BAGNAME':'AIRBAG_STATUS','DRINKINGNAME':'DRINKING_STATUS','ALC_DETNAME':'ALCOHOL_DETERMINATION',
                             'ALC_RESNAME':'ALCOHOL_RESULTS','DOANAME':'DEATH_STATUS','RUR_URBNAME':'RURAL_URBAN',
                            'RACENAME':'RACE','WEATHERNAME':'WEATHER'
                            }, inplace = True)
# Using Cleanse Function to cleanse the data in merged_df2 dataframe
merged_df2=cleanse_df(merged_df2,'merged_df2')
merged_df2.head()

**************************************************
Cleansing the Dataframe: merged_df2
**************************************************

Checking for Nulls:

There are NO NaN values in the STATE column
There are NO NaN values in the STATENAME column
There are NO NaN values in the ST_CASE column
There are NO NaN values in the VEH_NO column
There are NO NaN values in the PER_NO column
There are NO NaN values in the COUNTY column
There are NO NaN values in the HARMFUL_EVENT column
There are NO NaN values in the VEH_BODYCLASS column
There are NO NaN values in the AGE column
There are NO NaN values in the SEX column
There are NO NaN values in the PERSON_TYPE column
There are NO NaN values in the INJURY_SEVERITY column
There are NO NaN values in the AIRBAG_STATUS column
There are NO NaN values in the DRINKING_STATUS column
There are NO NaN values in the ALCOHOL_DETERMINATION column
There are NO NaN values in the ALCOHOL_RESULTS column
There are NO NaN values in the DEATH_STATUS column
There are NO NaN values in the RURAL_URBAN column
There are NO NaN values in the RACE column
There are NO NaN values in the WEATHER column
There are NO NaN values in the TIME_OF_CRASH column
There are NO NaN values in the TIME_OF_DEATH column
There are NO NaN values in the AGE_RANGE column

Checking Duplicates

Shape Before Removing Dupes in merged_df2: (96747, 126)
Shape After Removing Dupes in merged_df2: (96747, 126)

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,HARMFUL_EVENT,VEH_BODYCLASS,AGE,SEX,PERSON_TYPE,INJURY_SEVERITY,AIRBAG_STATUS,DRINKING_STATUS,ALCOHOL_DETERMINATION,ALCOHOL_RESULTS,DEATH_STATUS,RURAL_URBAN,RACE,WEATHER,TIME_OF_CRASH,TIME_OF_DEATH,AGE_RANGE
0,1,ALABAMA,10001,1,1,115,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),31,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,0.000 % BAC,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-12 22:10:00,2021-02-12 22:10:00,BETWEEN 30-40
1,1,ALABAMA,10001,1,2,115,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),3,FEMALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,SUSPECTED MINOR INJURY (B),NOT DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,URBAN,NOT A FATALITY (NOT APPLICABLE),RAIN,2021-02-12 22:10:00,1900-01-01 00:00:00,UNDER 10
2,1,ALABAMA,10001,2,1,115,MOTOR VEHICLE IN-TRANSPORT,SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV),25,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,0.000 % BAC,DIED AT SCENE,URBAN,CHINESE,RAIN,2021-02-12 22:10:00,2021-02-12 22:10:00,BETWEEN 18-30
3,1,ALABAMA,10002,1,1,73,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-11 18:00:00,2021-02-11 18:00:00,BETWEEN 30-40
4,1,ALABAMA,10002,1,2,73,CONCRETE TRAFFIC BARRIER,SEDAN/SALOON,34,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED- COMBINATION,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-11 18:00:00,2021-02-11 18:00:00,BETWEEN 30-40

## 3. Transformations to handle inconsistent values

#### ***Approach to Standardize the datavalues:*** 
##### The value_counts function is used to get all the unique occurances of the column and all the redundant/inconsistent values are standardized by using generic descriptions. These vales are stored in seperate list in Keys and Values format and dict(zip()) function is used to read the keys and values in a dictionary format. Then a for loop within an user defined function is used to parse through all the elements of the dictionary and standardize the data. No data is removed in this exercise, they are instead being converted to generic categories.

### Transformation 3.1: Treating values in Vehicle BodyClass field

In [28]:
# Creating a new dictionary that will store the values to be standardized.
standardize_values={}
# Unique values in Vehicle Bodyclassfield are stored in a variable
vc_vpiBodyclass=merged_df2['VEH_BODYCLASS'].value_counts()
# All Unique values with the word MOTORCYCLE are extracted
vc_motorcycle_inx=vc_vpiBodyclass[vc_vpiBodyclass.index.str.contains('MOTORCYCLE')].index
# All Unique values with the word INCOMPLETE are extracted
vc_incomple_inx=vc_vpiBodyclass[vc_vpiBodyclass.index.str.contains('INCOMPLETE')].index
# All Unique values with the word OFF-ROAD VEHICLE are extracted
vc_offRoad_inx=vc_vpiBodyclass[vc_vpiBodyclass.index.str.contains('OFF-ROAD VEHICLE')].index
# All Unique values with the word TRUCK are extracted
vc_truck_inx=vc_vpiBodyclass[vc_vpiBodyclass.index.str.contains('TRUCK')].index
# All Unique values with the word VAN are extracted
vc_van_inx=vc_vpiBodyclass[vc_vpiBodyclass.index.str.contains('VAN')].index
# All Unique values with the word BUS are extracted
vc_bus_inx=vc_vpiBodyclass[vc_vpiBodyclass.index.str.contains('BUS')].index
# All unique values with less than 100 occurances are defaulted to MISC category
vc_misc_inx=vc_vpiBodyclass[(merged_df2['VEH_BODYCLASS'].value_counts()<100)].index
# Creating the list of Replacement values 
bodyclass_keys=[
                'SEDAN/COUPE/CONVERTIBLE',
                'SUV',
                'UNKNOWN',
                'MOTORCYCLE',
                'NOTREPORTED',
                'OFF-ROAD-VEHICLE',
                'TRUCK',
                'VAN',
                'BUS',
                'MISC'
               ]
# Creating the list of values to be replaced
bodyclass_vals=[
                ['SEDAN/SALOON','COUPE','HATCHBACK/LIFTBACK/NOTCHBACK','CONVERTIBLE/CABRIOLET'],
                ['SPORT UTILITY VEHICLE (SUV)/MULTI-PURPOSE VEHICLE (MPV)','MINIVAN','CROSSOVER UTILITY VEHICLE (CUV)','WAGON'],
                ['UNKNOWN','NOT REPORTED','FILLER'],
                vc_motorcycle_inx,
                vc_incomple_inx,
                vc_offRoad_inx,
                vc_truck_inx,
                vc_van_inx,
                vc_bus_inx,
                vc_misc_inx
               ]
# Adding a new value to standardize values dictionary for Vehicle Bodyclass field. The zip function is
# used to read the data in Keys:Values format from the 2 lists created above.
standardize_values['VEH_BODYCLASS']=dict(zip(bodyclass_keys, bodyclass_vals))

### Transformation 3.2: Treating values in Harmful Event field

In [29]:
# Unique values in Harmful event are stored in a variable
vc_HarmEV=merged_df2['HARMFUL_EVENT'].value_counts()
# All unique values with less than 150 occurances are defaulted to MISC category
vc_miscHarmEV_inx=vc_HarmEV[(merged_df2['HARMFUL_EVENT'].value_counts()<150)].index
# Creating list of keys and values for the values to be replaced.
harmev_keys=[
    'PEDESTRIAN/CYCLIST',
    'HIT FIXED OBJECTS/FENCE/CURB',
    'RAILWAY VEHICLE',
    'MISC'
]
harmev_vals=[
    ['PEDESTRIAN','PEDALCYCLIST'],
    ['CURB','DITCH','GUARDRAIL FACE','EMBANKMENT','UTILITY POLE/LIGHT SUPPORT','CONCRETE TRAFFIC BARRIER','FENCE','TRAFFIC SIGN SUPPORT','CULVERT','POST', 'POLE OR OTHER SUPPORTS','OTHER FIXED OBJECT','GUARDRAIL END','POST, POLE OR OTHER SUPPORTS','MAIL BOX','OTHER OBJECT (NOT FIXED)','BRIDGE PIER OR SUPPORT','CABLE BARRIER','WALL','TRAFFIC SIGNAL SUPPORT','BOULDER','BUILDING','TREE (STANDING ONLY)'],
    ['BRIDGE RAIL (INCLUDES PARAPET)','RAILWAY VEHICLE'],
    vc_miscHarmEV_inx
]
# Adding a new value to standardize values dictionary for Harmful event field. The zip function is
# used to read the data in Keys:Values format from the 2 lists created above.
standardize_values['HARMFUL_EVENT']=dict(zip(harmev_keys, harmev_vals))

### Transformation 3.3: Treating values in Person Type field

In [30]:
# Unique values in Person Type field are stored in a variable
vc_pertype=merged_df2['PERSON_TYPE'].value_counts()
# All Unique values with the word CYCLIST are extracted
vc_cyclist_inx=vc_pertype[vc_pertype.index.str.contains('CYCLIST')].index
# All unique values with less than 150 occurances are defaulted to MISC category
vc_misc_pertype_inx=vc_pertype[(merged_df2['PERSON_TYPE'].value_counts()<150)].index
# Creating list of keys and values for the values to be replaced.
pertype_keys=['CYCLIST','MISC']
pertype_vals=[vc_cyclist_inx,vc_misc_pertype_inx]
# Adding a new value to standardize values dictionary for Person Type field. 
standardize_values['PERSON_TYPE']=dict(zip(pertype_keys, pertype_vals))

### Transformation 3.4: Treating values in AirBag field

In [31]:
# Creating list of keys and values for the values to be replaced.
airbag_keys=['DEPLOYED','UNKNOWN']
airbag_vals=[
            ['DEPLOYED- COMBINATION','DEPLOYED- FRONT','DEPLOYED- SIDE (DOOR, SEATBACK)',
               'DEPLOYED- CURTAIN (ROOF)','DEPLOYED- OTHER (KNEE, AIR BELT, ETC.)'],
             ['DEPLOYMENT- UNKNOWN LOCATION','NOT REPORTED','REPORTED AS DEPLOYMENT UNKNOWN']
            ]
# Adding a new value to standardize values dictionary for Airbag field. 
standardize_values['AIRBAG_STATUS']=dict(zip(airbag_keys, airbag_vals))

### Transformation 3.5: Treating values in Alcohol Results field

In [32]:
def cleanse_alcresname(val):
    """
    This function helps to create standard bins with 3 categories in the Alcohol results field. 
    This standardizes the  number of unique values from about 250 to just 3.
    Returns newly created bin.
    """
    
    try:
        # Checking for the word "BAC" in the each value in alcohol results field
        if '% BAC' in val:
            # Removing the word % BAC from each value and converting to float
            val=float(val.strip('% BAC'))
            # Using conditions to compare the value and creating bins
            alc_conditions=[
                (val < 0.08),
                ((val >=0.08) & (val < 0.1)),
                (val > 0.1)
            ]
            alc_choices=[
                'Lesser than 0.08 % BAC',
                'Between 0.08 and 0.10 % BAC',
                'Greater than 0.10 % BAC'
            ]
            # 3 new categories are created from the options in the list above
            val=np.select(alc_conditions, alc_choices, "NOT REPORTED")   
        # the value does not contain "% BAC" no changes are made.
        else:
            pass
    except:
        pass
    return val

In [33]:
# Applying cleanse_alcresname function to all the values in Alcohol results and new bins are derived
merged_df2['ALCOHOL_RESULTS']=merged_df2['ALCOHOL_RESULTS'].apply(cleanse_alcresname)
# Adding a new value to standardize values dictionary for Alcohol results field. 
standardize_values['ALCOHOL_RESULTS']={
     'NOT REPORTED/UNKNOWN':['UNKNOWN','REPORTED AS UNKNOWN IF TESTED','POSITIVE READING WITH NO ACTUAL VALUE',
                'AC TEST PERFORMED, RESULTS UNKNOWN','NOT REPORTED']
     
}

### Transformation 3.6: Treating values in the Race field

In [34]:
# Creating list of keys and values for the values to be replaced.
race_keys=[
            'NOT A FATALITY',
            'UNKNOWN',
            'OTHER ASIAN OR PACIFIC ISLANDER',
            'ASIAN OR ASIAN INDIAN',
            'OTHER RACES'
          ]
race_vals=[
    ['NOT A FATALITY (NOT APPLICABLE)'],
    ['UNKNOWN','REDACTED','MULTIPLE RACES UNSPECIFIED'],
    ['OTHER ASIAN OR PACIFIC ISLANDER','ASIAN OR PACIFIC ISLANDER, NO SPECIFIC (INDIVIDUAL) RACE'],
    ['ASIAN INDIAN','FILIPINO','CHINESE','VIETNAMESE','KOREAN','OTHER INDIAN (INCLUDES SOUTH AND CENTRAL AMERICA, ANY OTHERS, EXCEPT NORTH AMERICAN OR ASIAN INDIANS)','JAPANESE'],
    ['OTHER RACE','GUAMANIAN OR CHAMORRO','SAMOAN']
]
# Adding a new value to standardize values dictionary for the Races field. 
standardize_values['RACE']=dict(zip(race_keys, race_vals))

### Transformation 3.7: Treating values in the Weather field

In [35]:
# Creating list of keys and values for the values to be replaced.
weather_keys=['UNKNOWN','SNOW']
weather_vals=[['NOT REPORTED','REPORTED AS UNKNOWN','OTHER'],['SNOW','BLOWING SNOW']]
# Adding a new value to standardize values dictionary for the Weather field. 
standardize_values['WEATHER']=dict(zip(weather_keys, weather_vals))

### Transformation 3.8: Creating function to standardize the values

In [36]:
def standardize_vals(df):
    """
    This function will standardize the values in the Dataframe based on the values in standardize_values dictionary.
    Input:Takes the Dataframe as input. 
    Performs inplace updates and prints the summary of changes made.
    """
    # This will loop through each key and value in the standardize_values dictionary
    for key1,val1 in standardize_values.items():
        print("*"*50)
        print(f"Standardizing values for {key1}:")
        print("*"*50)
        # Getting the Unique values in the field before standardizing the values
        before_len=len(df[key1].value_counts())
        # Perform inplace updates for the replace items
        for key2,val2 in val1.items():
            inplace_Replace(df,col=key1,list_of_val=val2,replace_val=key2)
        # Printing the Unique values after standardizing the values
        print(df[key1].value_counts())
        after_len=len(df[key1].value_counts())
        print(f"\nSummary: Number of Unique categories in {key1} before standardizing: {before_len}, After: {after_len}")
        print("\n")

standardize_vals(merged_df2)

**************************************************
Standardizing values for VEH_BODYCLASS:
**************************************************
SEDAN/COUPE/CONVERTIBLE    30760
SUV                        24978
PICKUP                     14603
UNKNOWN                    10900
MOTORCYCLE                  7024
TRUCK                       5461
VAN                         1560
NOTREPORTED                 1197
OFF-ROAD-VEHICLE             781
BUS                          520
MISC                         140
Name: VEH_BODYCLASS, dtype: int64

Summary: Number of Unique categories in VEH_BODYCLASS before standardizing: 66, After: 11


**************************************************
Standardizing values for HARMFUL_EVENT:
**************************************************
MOTOR VEHICLE IN-TRANSPORT             52401
PEDESTRIAN/CYCLIST                     19057
HIT FIXED OBJECTS/FENCE/CURB           17436
ROLLOVER/OVERTURN                       4786
MISC                                    1500
PARKED MOTOR VEHICLE                    1322
FELL/JUMPED FROM VEHICLE                 495
NON-MOTORIST ON PERSONAL CONVEYANCE      494
LIVE ANIMAL                              264
REPORTED AS UNKNOWN                      169
Name: HARMFUL_EVENT, dtype: int64

Summary: Number of Unique categories in HARMFUL_EVENT before standardizing: 56, After: 10


**************************************************
Standardizing values for PERSON_TYPE:
**************************************************
DRIVER OF A MOTOR VEHICLE IN-TRANSPORT           61642
PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT        26456
PEDESTRIAN                                        7921
CYCLIST                                           1013
OCCUPANT OF A MOTOR VEHICLE NOT IN- TRANSPORT      481
MISC                                               411
Name: PERSON_TYPE, dtype: int64

Summary: Number of Unique categories in PERSON_TYPE before standardizing: 12, After: 6


**************************************************
Standardizing values for AIRBAG_STATUS:
**************************************************
NOT DEPLOYED                    44194
DEPLOYED                        26420
UNKNOWN                         18054
NOT A MOTOR VEHICLE OCCUPANT     9256
Name: AIRBAG_STATUS, dtype: int64

Summary: Number of Unique categories in AIRBAG_STATUS before standardizing: 10, After: 4


**************************************************
Standardizing values for ALCOHOL_RESULTS:
**************************************************
TEST NOT GIVEN                 51783
Lesser than 0.08 % BAC         21344
NOT REPORTED/UNKNOWN           16050
Greater than 0.10 % BAC         8133
Between 0.08 and 0.10 % BAC      614
Name: ALCOHOL_RESULTS, dtype: int64

Summary: Number of Unique categories in ALCOHOL_RESULTS before standardizing: 8, After: 5


**************************************************
Standardizing values for RACE:
**************************************************
NOT A FATALITY                            54364
WHITE                                     28268
BLACK OR AFRICAN AMERICAN                  7476
UNKNOWN                                    5422
OTHER RACES                                 894
NORTH AMERICAN INDIAN OR ALASKA NATIVE      679
ASIAN OR ASIAN INDIAN                       472
OTHER ASIAN OR PACIFIC ISLANDER             313
NATIVE HAWAIIAN                              36
Name: RACE, dtype: int64

Summary: Number of Unique categories in RACE before standardizing: 20, After: 9


**************************************************
Standardizing values for WEATHER:
**************************************************
CLEAR                       70920
CLOUDY                      13843
RAIN                         6410
UNKNOWN                      4205
FOG, SMOG, SMOKE             1138
SNOW                          936
SEVERE CROSSWINDS             180
FREEZING RAIN OR DRIZZLE      114
SLEET OR HAIL                  97
BLOWING SAND, SOIL, DIRT       81
Name: WEATHER, dtype: int64

Summary: Number of Unique categories in WEATHER before standardizing: 13, After: 10

## 4. Transformations for creating Visualizations

### Transformation 4.1: Creating Dataframe for number of persons involved in crash by state

In [37]:
# Number of persons involved in road crash by state
prsnInCrsh_bySt_df=merged_df2.groupby("STATENAME").count()['STATE'].sort_values(ascending=False)
prsnInCrsh_bySt_df.head(10)

STATENAME
TEXAS             10538
CALIFORNIA        10129
FLORIDA            8883
GEORGIA            4110
NORTH CAROLINA     3708
ILLINOIS           3062
TENNESSEE          3051
OHIO               2985
ARIZONA            2892
PENNSYLVANIA       2702
Name: STATE, dtype: int64

### Transformation 4.2: Creating Dataframe for number of crash victims from Merged dataframe

In [38]:
# Creating new dataframe to only contain Crash fatalities and those for whom the gender has been indentified
crash_victims_df=merged_df2[(merged_df2['DEATH_STATUS'].str.contains('DIED')) & (merged_df2['SEX'].str.contains('MALE'))]
crash_victims_df.head()

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,HARMFUL_EVENT,VEH_BODYCLASS,AGE,SEX,PERSON_TYPE,INJURY_SEVERITY,AIRBAG_STATUS,DRINKING_STATUS,ALCOHOL_DETERMINATION,ALCOHOL_RESULTS,DEATH_STATUS,RURAL_URBAN,RACE,WEATHER,TIME_OF_CRASH,TIME_OF_DEATH,AGE_RANGE
0,1,ALABAMA,10001,1,1,115,MOTOR VEHICLE IN-TRANSPORT,SUV,31,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NOT REPORTED,NOT REPORTED,Lesser than 0.08 % BAC,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-12 22:10:00,2021-02-12 22:10:00,BETWEEN 30-40
2,1,ALABAMA,10001,2,1,115,MOTOR VEHICLE IN-TRANSPORT,SUV,25,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,Lesser than 0.08 % BAC,DIED AT SCENE,URBAN,ASIAN OR ASIAN INDIAN,RAIN,2021-02-12 22:10:00,2021-02-12 22:10:00,BETWEEN 18-30
3,1,ALABAMA,10002,1,1,73,HIT FIXED OBJECTS/FENCE/CURB,SEDAN/COUPE/CONVERTIBLE,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-11 18:00:00,2021-02-11 18:00:00,BETWEEN 30-40
4,1,ALABAMA,10002,1,2,73,HIT FIXED OBJECTS/FENCE/CURB,SEDAN/COUPE/CONVERTIBLE,34,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-11 18:00:00,2021-02-11 18:00:00,BETWEEN 30-40
5,1,ALABAMA,10003,0,1,73,PEDESTRIAN/CYCLIST,UNKNOWN,32,MALE,PEDESTRIAN,FATAL INJURY (K),NOT A MOTOR VEHICLE OCCUPANT,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,WHITE,RAIN,2021-02-07 00:20:00,2021-02-07 00:20:00,BETWEEN 30-40

### Transformation 4.3: Creating Dataframe for number of crash fatalities by state

In [39]:
# Crash victims by state
crash_victims_byState_df=crash_victims_df.groupby("STATENAME").count()
# Printing the top 10 states with most fatalities
crash_victims_byState_df['STATE'].sort_values(ascending=False).head(10)

STATENAME
CALIFORNIA        2930
TEXAS             2854
FLORIDA           1858
GEORGIA           1073
NORTH CAROLINA     901
TENNESSEE          795
OHIO               754
ALABAMA            718
PENNSYLVANIA       664
MICHIGAN           638
Name: STATE, dtype: int64

### Transformation 4.4: Creating Dataframe for number of crash fatalities by state and gender.

In [40]:
# Crash victims by State and sex. 
crash_victims_byStateSex_df=crash_victims_df.groupby(["STATENAME","SEX"],sort=True)['STATE'].size().reset_index(name='FATALS').sort_values(by=['STATENAME','FATALS'],ascending=False)
crash_victims_byStateSex_df.head(20)

         STATENAME     SEX  FATALS
101        WYOMING    MALE      52
100        WYOMING  FEMALE      24
99       WISCONSIN    MALE     303
98       WISCONSIN  FEMALE     100
97   WEST VIRGINIA    MALE     147
96   WEST VIRGINIA  FEMALE      51
95      WASHINGTON    MALE     331
94      WASHINGTON  FEMALE     127
93        VIRGINIA    MALE     319
92        VIRGINIA  FEMALE     135
91         VERMONT    MALE      37
90         VERMONT  FEMALE       7
89            UTAH    MALE     139
88            UTAH  FEMALE      66
87           TEXAS    MALE    2082
86           TEXAS  FEMALE     772
85       TENNESSEE    MALE     560
84       TENNESSEE  FEMALE     235
83    SOUTH DAKOTA    MALE      80
82    SOUTH DAKOTA  FEMALE      28

### Transformation 4.5: Creating Dataframe for number of crash fatalities by state,gender and Age category.

In [41]:
# Crash fatalities by State, Gender and Age Range
crash_victims_byStateAge_df=crash_victims_df.groupby(["STATENAME","SEX","AGE_RANGE"],sort=True)['STATE'].size().reset_index(name='FATALS').sort_values(by=['STATENAME','SEX','FATALS'],ascending=False)
# The results are printed for Texas and California
crash_victims_byStateAge_df[crash_victims_byStateAge_df['STATENAME'].isin(['TEXAS','CALIFORNIA'])]

      STATENAME     SEX      AGE_RANGE  FATALS
634       TEXAS    MALE  BETWEEN 18-30     609
635       TEXAS    MALE  BETWEEN 30-40     458
637       TEXAS    MALE  BETWEEN 50-65     414
636       TEXAS    MALE  BETWEEN 40-50     294
632       TEXAS    MALE       ABOVE 65     201
633       TEXAS    MALE  BETWEEN 10-18      63
638       TEXAS    MALE   NOT REPORTED      27
639       TEXAS    MALE       UNDER 10      16
626       TEXAS  FEMALE  BETWEEN 18-30     214
629       TEXAS  FEMALE  BETWEEN 50-65     153
627       TEXAS  FEMALE  BETWEEN 30-40     134
628       TEXAS  FEMALE  BETWEEN 40-50     121
624       TEXAS  FEMALE       ABOVE 65      94
625       TEXAS  FEMALE  BETWEEN 10-18      33
631       TEXAS  FEMALE       UNDER 10      19
630       TEXAS  FEMALE   NOT REPORTED       4
69   CALIFORNIA    MALE  BETWEEN 18-30     651
72   CALIFORNIA    MALE  BETWEEN 50-65     471
70   CALIFORNIA    MALE  BETWEEN 30-40     466
71   CALIFORNIA    MALE  BETWEEN 40-50     309
67   CALIFORNIA    MALE       ABOVE 65     223
68   CALIFORNIA    MALE  BETWEEN 10-18      31
73   CALIFORNIA    MALE   NOT REPORTED      21
74   CALIFORNIA    MALE       UNDER 10      13
61   CALIFORNIA  FEMALE  BETWEEN 18-30     224
62   CALIFORNIA  FEMALE  BETWEEN 30-40     154
64   CALIFORNIA  FEMALE  BETWEEN 50-65     151
63   CALIFORNIA  FEMALE  BETWEEN 40-50      91
59   CALIFORNIA  FEMALE       ABOVE 65      69
60   CALIFORNIA  FEMALE  BETWEEN 10-18      36
66   CALIFORNIA  FEMALE       UNDER 10      15
65   CALIFORNIA  FEMALE   NOT REPORTED       5

##### ***Interpretation of the results:*** In both Texas and California, there are more Male victims than female. In both the states, the top victims are in the age range 18-30 in both Male and Female victims. There are more Male teenage victims(ages 10-18) in texas than California.

### Transformation 4.6: Creating Dataframe for number of teenage crash fatalities by state,gender and Age category.

In [42]:
# Teenage Crash fatalaties by state
crash_victims_byStateAge_df[crash_victims_byStateAge_df['AGE_RANGE'].isin(['BETWEEN 10-18'])].sort_values(by=['FATALS','SEX'],ascending=False)

         STATENAME     SEX      AGE_RANGE  FATALS
633          TEXAS    MALE  BETWEEN 10-18      63
133        FLORIDA    MALE  BETWEEN 10-18      38
60      CALIFORNIA  FEMALE  BETWEEN 10-18      36
625          TEXAS  FEMALE  BETWEEN 10-18      33
68      CALIFORNIA    MALE  BETWEEN 10-18      31
..             ...     ...            ...     ...
405         NEVADA  FEMALE  BETWEEN 10-18       1
303  MASSACHUSETTS  FEMALE  BETWEEN 10-18       1
157         HAWAII  FEMALE  BETWEEN 10-18       1
92     CONNECTICUT  FEMALE  BETWEEN 10-18       1
76        COLORADO  FEMALE  BETWEEN 10-18       1

[93 rows x 4 columns]

##### ***Interpretation of the results:*** Texas, California, Florida topped the number of Teenage Crash fatalities and most of these were men. It is not clear if the victims were drivers or passengers. Addional fields should be included to understand the cause of their deaths..

### Transformation 4.7: Creating Dataframe for number of fatalities by the victim type

In [43]:
# Crash fatalities by State and Person Type
crash_victims_byStatePerType_df=crash_victims_df.groupby(["STATENAME","PERSON_TYPE"],sort=True)['STATE'].size().reset_index(name='FATALS').sort_values(by=['STATENAME','FATALS'],ascending=True)
crash_victims_byStatePerType_df.head(20)

     STATENAME                                    PERSON_TYPE  FATALS
0      ALABAMA                                        CYCLIST       7
3      ALABAMA                                     PEDESTRIAN      89
2      ALABAMA      PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT     119
1      ALABAMA         DRIVER OF A MOTOR VEHICLE IN-TRANSPORT     503
4       ALASKA                                        CYCLIST       1
6       ALASKA                                           MISC       2
7       ALASKA      PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT      11
8       ALASKA                                     PEDESTRIAN      12
5       ALASKA         DRIVER OF A MOTOR VEHICLE IN-TRANSPORT      23
11     ARIZONA                                           MISC       3
9      ARIZONA                                        CYCLIST      17
13     ARIZONA                                     PEDESTRIAN     106
12     ARIZONA      PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT     120
10     ARIZONA         DRIVER OF A MOTOR VEHICLE IN-TRANSPORT     349
14    ARKANSAS                                        CYCLIST       5
17    ARKANSAS                                     PEDESTRIAN      51
16    ARKANSAS      PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT      71
15    ARKANSAS         DRIVER OF A MOTOR VEHICLE IN-TRANSPORT     335
21  CALIFORNIA  OCCUPANT OF A MOTOR VEHICLE NOT IN- TRANSPORT      10
20  CALIFORNIA                                           MISC      17

### Transformation 4.8: Creating Dataframe for number of victims by the day of the month

In [44]:
# Crash victims by day of the month
# Converting the Time of crash field to datetime format
crash_victims_df['TIME_OF_CRASH']= pd.to_datetime(crash_victims_df['TIME_OF_CRASH'])
# Doing groupby Day of the crash
crash_byDay_df=crash_victims_df.groupby(crash_victims_df.TIME_OF_CRASH.dt.day.rename('DAY OF CRASH')).agg(FATALS= ('STATE' , 'count'))
crash_byDay_df.sort_values(by='FATALS',ascending=False).head(7)

              FATALS
DAY OF CRASH
4                967
7                927
1                884
6                872
10               867
5                867
3                865

### Transformation 4.9: Creating Dataframe for number of victims by the Month of the crash

In [45]:
# Doing groupby Month of the crash
crash_byMon_df=crash_victims_df.groupby(crash_victims_df.TIME_OF_CRASH.dt.month.rename('MONTH OF CRASH')).agg(FATALS= ('STATE' , 'count'))
crash_byMon_df.sort_values(by='FATALS',ascending=False)

                FATALS
MONTH OF CRASH
10                2405
8                 2360
7                 2316
9                 2241
6                 2215
5                 2184
11                2177
4                 2070
12                2026
3                 1929
1                 1925
2                 1568

##### ***Interpretation of the results:*** The results from Day and Month of crash indicate that most crashed occured during the first 10 days of the month and  during the months of May to October

### Transformation 4.10: Creating Dataframe for number of victims by the weather condition and Month of the year.

In [46]:
crash_WeatherByMonth_df=crash_victims_df.groupby(["WEATHER",crash_victims_df['TIME_OF_CRASH'].dt.month.rename('MONTH OF CRASH')],sort=True)['STATE'].size().reset_index(name='FATALS').sort_values(by=['FATALS'],ascending=False)
crash_WeatherByMonth_df.head(20)

   WEATHER  MONTH OF CRASH  FATALS
14   CLEAR               9    1800
13   CLEAR               8    1788
11   CLEAR               6    1696
15   CLEAR              10    1681
12   CLEAR               7    1679
16   CLEAR              11    1589
10   CLEAR               5    1579
9    CLEAR               4    1512
8    CLEAR               3    1403
17   CLEAR              12    1236
6    CLEAR               1    1174
7    CLEAR               2     918
27  CLOUDY              10     379
29  CLOUDY              12     374
24  CLOUDY               7     344
18  CLOUDY               1     341
22  CLOUDY               5     341
19  CLOUDY               2     305
21  CLOUDY               4     301
23  CLOUDY               6     291

##### ***Interpretation of the results:*** The results from the weather indicates that, most crashes occured  during Clear conditions and during the months of May to October as indicated in above results.

## 5. Printing Samples from the cleansed dataframe

In [47]:
# Printing the sample from the cleansed, Standardized dataframe
print("Top 10 Rows in merged_df2 Dataframe:")
merged_df2.head(10)

Top 10 Rows in merged_df2 Dataframe:

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,HARMFUL_EVENT,VEH_BODYCLASS,AGE,SEX,PERSON_TYPE,INJURY_SEVERITY,AIRBAG_STATUS,DRINKING_STATUS,ALCOHOL_DETERMINATION,ALCOHOL_RESULTS,DEATH_STATUS,RURAL_URBAN,RACE,WEATHER,TIME_OF_CRASH,TIME_OF_DEATH,AGE_RANGE
0,1,ALABAMA,10001,1,1,115,MOTOR VEHICLE IN-TRANSPORT,SUV,31,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NOT REPORTED,NOT REPORTED,Lesser than 0.08 % BAC,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-12 22:10:00,2021-02-12 22:10:00,BETWEEN 30-40
1,1,ALABAMA,10001,1,2,115,MOTOR VEHICLE IN-TRANSPORT,SUV,3,FEMALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,SUSPECTED MINOR INJURY (B),NOT DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,URBAN,NOT A FATALITY,RAIN,2021-02-12 22:10:00,1900-01-01 00:00:00,UNDER 10
2,1,ALABAMA,10001,2,1,115,MOTOR VEHICLE IN-TRANSPORT,SUV,25,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,Lesser than 0.08 % BAC,DIED AT SCENE,URBAN,ASIAN OR ASIAN INDIAN,RAIN,2021-02-12 22:10:00,2021-02-12 22:10:00,BETWEEN 18-30
3,1,ALABAMA,10002,1,1,73,HIT FIXED OBJECTS/FENCE/CURB,SEDAN/COUPE/CONVERTIBLE,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-11 18:00:00,2021-02-11 18:00:00,BETWEEN 30-40
4,1,ALABAMA,10002,1,2,73,HIT FIXED OBJECTS/FENCE/CURB,SEDAN/COUPE/CONVERTIBLE,34,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,BLACK OR AFRICAN AMERICAN,RAIN,2021-02-11 18:00:00,2021-02-11 18:00:00,BETWEEN 30-40
5,1,ALABAMA,10003,0,1,73,PEDESTRIAN/CYCLIST,UNKNOWN,32,MALE,PEDESTRIAN,FATAL INJURY (K),NOT A MOTOR VEHICLE OCCUPANT,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,DIED AT SCENE,URBAN,WHITE,RAIN,2021-02-07 00:20:00,2021-02-07 00:20:00,BETWEEN 30-40
6,1,ALABAMA,10003,1,1,73,PEDESTRIAN/CYCLIST,SEDAN/COUPE/CONVERTIBLE,18,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,NO APPARENT INJURY (O),NOT DEPLOYED,REPORTED AS UNKNOWN,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,URBAN,NOT A FATALITY,RAIN,2021-02-07 00:20:00,1900-01-01 00:00:00,BETWEEN 18-30
7,1,ALABAMA,10004,1,1,117,HIT FIXED OBJECTS/FENCE/CURB,SUV,32,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,REPORTED AS UNKNOWN,NOT REPORTED,Lesser than 0.08 % BAC,NOT APPLICABLE,URBAN,BLACK OR AFRICAN AMERICAN,CLEAR,2021-02-03 16:20:00,2021-02-03 17:36:00,BETWEEN 30-40
8,1,ALABAMA,10005,1,1,73,MOTOR VEHICLE IN-TRANSPORT,PICKUP,30,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),NOT DEPLOYED,YES (ALCOHOL INVOLVED),OBSERVED,TEST NOT GIVEN,DIED AT SCENE,RURAL,WHITE,CLOUDY,2021-01-30 22:20:00,2021-01-30 22:20:00,BETWEEN 30-40
9,1,ALABAMA,10005,2,1,73,MOTOR VEHICLE IN-TRANSPORT,SEDAN/COUPE/CONVERTIBLE,34,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,NO APPARENT INJURY (O),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,RURAL,NOT A FATALITY,CLOUDY,2021-01-30 22:20:00,1900-01-01 00:00:00,BETWEEN 30-40

In [48]:
print("Last 10 Rows in merged_df2 Dataframe:")
merged_df2.tail(10)

Last 10 Rows in merged_df2 Dataframe:

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,HARMFUL_EVENT,VEH_BODYCLASS,AGE,SEX,PERSON_TYPE,INJURY_SEVERITY,AIRBAG_STATUS,DRINKING_STATUS,ALCOHOL_DETERMINATION,ALCOHOL_RESULTS,DEATH_STATUS,RURAL_URBAN,RACE,WEATHER,TIME_OF_CRASH,TIME_OF_DEATH,AGE_RANGE
97914,56,WYOMING,560100,1,1,19,ROLLOVER/OVERTURN,SUV,34,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),NOT DEPLOYED,YES (ALCOHOL INVOLVED),NOT REPORTED,Greater than 0.10 % BAC,DIED AT SCENE,RURAL,WHITE,CLEAR,2021-11-27 09:02:00,2021-11-27 09:02:00,BETWEEN 30-40
97915,56,WYOMING,560100,1,2,19,ROLLOVER/OVERTURN,SUV,42,MALE,PASSENGER OF A MOTOR VEHICLE IN-TRANSPORT,NO APPARENT INJURY (O),NOT DEPLOYED,NOT REPORTED,NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,RURAL,NOT A FATALITY,CLEAR,2021-11-27 09:02:00,1900-01-01 00:00:00,BETWEEN 40-50
97916,56,WYOMING,560101,1,1,3,MOTOR VEHICLE IN-TRANSPORT,PICKUP,84,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,NOT REPORTED/UNKNOWN,NOT APPLICABLE,RURAL,WHITE,CLEAR,2021-12-14 18:00:00,2021-12-15 05:40:00,ABOVE 65
97917,56,WYOMING,560101,2,1,3,MOTOR VEHICLE IN-TRANSPORT,OFF-ROAD-VEHICLE,41,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,POSSIBLE INJURY (C),NOT DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,NOT REPORTED/UNKNOWN,NOT APPLICABLE,RURAL,NOT A FATALITY,CLEAR,2021-12-14 18:00:00,1900-01-01 00:00:00,BETWEEN 40-50
97918,56,WYOMING,560102,1,1,37,ROLLOVER/OVERTURN,TRUCK,61,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),NOT DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,Lesser than 0.08 % BAC,DIED AT SCENE,RURAL,WHITE,CLEAR,2021-12-15 10:34:00,2021-12-15 10:35:00,BETWEEN 50-65
97919,56,WYOMING,560102,1,1,37,ROLLOVER/OVERTURN,TRUCK,61,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),NOT DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,Lesser than 0.08 % BAC,DIED AT SCENE,RURAL,OTHER RACES,CLEAR,2021-12-15 10:34:00,2021-12-15 10:35:00,BETWEEN 50-65
97920,56,WYOMING,560103,0,1,21,PEDESTRIAN/CYCLIST,UNKNOWN,62,MALE,PEDESTRIAN,FATAL INJURY (K),NOT A MOTOR VEHICLE OCCUPANT,YES (ALCOHOL INVOLVED),NOT REPORTED,NOT REPORTED/UNKNOWN,DIED AT SCENE,URBAN,WHITE,CLEAR,2021-12-19 17:09:00,2021-12-19 17:09:00,BETWEEN 50-65
97921,56,WYOMING,560103,1,1,21,PEDESTRIAN/CYCLIST,SUV,32,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,NO APPARENT INJURY (O),NOT DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,Lesser than 0.08 % BAC,NOT APPLICABLE,URBAN,NOT A FATALITY,CLEAR,2021-12-19 17:09:00,1900-01-01 00:00:00,BETWEEN 30-40
97922,56,WYOMING,560104,1,1,23,MOTOR VEHICLE IN-TRANSPORT,SEDAN/COUPE/CONVERTIBLE,58,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,Lesser than 0.08 % BAC,DIED AT SCENE,RURAL,WHITE,CLEAR,2021-12-20 06:30:00,2021-12-20 06:30:00,BETWEEN 50-65
97923,56,WYOMING,560104,2,1,23,MOTOR VEHICLE IN-TRANSPORT,SUV,49,FEMALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,SUSPECTED MINOR INJURY (B),DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,NOT REPORTED/UNKNOWN,NOT APPLICABLE,RURAL,NOT A FATALITY,CLEAR,2021-12-20 06:30:00,1900-01-01 00:00:00,BETWEEN 40-50

In [49]:
print("Describing the merged_df2 Dataframe:")
merged_df2.describe()

Describing the merged_df2 Dataframe:

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,COUNTY,HARMFUL_EVENT,VEH_BODYCLASS,AGE,SEX,PERSON_TYPE,INJURY_SEVERITY,AIRBAG_STATUS,DRINKING_STATUS,ALCOHOL_DETERMINATION,ALCOHOL_RESULTS,DEATH_STATUS,RURAL_URBAN,RACE,WEATHER,TIME_OF_CRASH,TIME_OF_DEATH,AGE_RANGE
count,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924,97924
unique,51,51,39508,131,44,296,10,11,105,4,6,8,4,4,8,5,4,5,9,10,37410,37484,8
top,48,TEXAS,480549,1,1,37,MOTOR VEHICLE IN-TRANSPORT,SEDAN/COUPE/CONVERTIBLE,21,MALE,DRIVER OF A MOTOR VEHICLE IN-TRANSPORT,FATAL INJURY (K),NOT DEPLOYED,NO (ALCOHOL NOT INVOLVED),NOT REPORTED,TEST NOT GIVEN,NOT APPLICABLE,URBAN,NOT A FATALITY,CLEAR,2021-02-11 06:00:00,1900-01-01 00:00:00,BETWEEN 18-30
freq,10538,10538,135,55345,70757,2815,52401,30760,2283,64278,61642,43560,44194,39194,79387,51783,72316,61162,54364,70920,135,54985,25090

In [50]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97924 entries, 0 to 97923
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   STATE                  97924 non-null  object
 1   STATENAME              97924 non-null  object
 2   ST_CASE                97924 non-null  object
 3   VEH_NO                 97924 non-null  object
 4   PER_NO                 97924 non-null  object
 5   COUNTY                 97924 non-null  object
 6   HARMFUL_EVENT          97924 non-null  object
 7   VEH_BODYCLASS          97924 non-null  object
 8   AGE                    97924 non-null  object
 9   SEX                    97924 non-null  object
 10  PERSON_TYPE            97924 non-null  object
 11  INJURY_SEVERITY        97924 non-null  object
 12  AIRBAG_STATUS          97924 non-null  object
 13  DRINKING_STATUS        97924 non-null  object
 14  ALCOHOL_DETERMINATION  97924 non-null  object
 15  ALCOHOL_RESULTS        97924 non-null  object
 16  DEATH_STATUS           97924 non-null  object
 17  RURAL_URBAN            97924 non-null  object
 18  RACE                   97924 non-null  object
 19  WEATHER                97924 non-null  object
 20  TIME_OF_CRASH          97924 non-null  object
 21  TIME_OF_DEATH          97924 non-null  object
 22  AGE_RANGE              97924 non-null  object
dtypes: object(23)
memory usage: 17.9+ MB

## 6. Ethical Implications

##### 1. During the standardization process, many sub categories were merged to form a common category. For instance, some of the categories that had less than 100 occurances in the sample wer marked under the miscelleanous category. This was done for  the ease of visualization to avoid too many categories in the graph and also to avoid the loss of the data. Some of these may have ethical implications due to generalizing the data.
##### 2. Similarly, while analying the data about Races, some races such as Chinese, Vietnamese, Japanese were categorized as Asian. This was done only for the purpose of generalization.
##### 3. While analyzing the Alcohol results, the data was classified into three broad group such as  less than 0.08 % BAC, between 0.08 and 0.10 % BAC, and greater than 0.10 % BAC. This was done again for the ease of visualizations and to avoid too many details and sub categories. The Implication is that a person with 0.10% BAC and someone that was too drunk ( > 0.50 % BAC)will be classified in the same category.
##### 4. While building visualization and describing the statistics about death fatalities, the numbers must be presented with compassion as these are grim figures.

In [51]:
merged_df2.to_excel('formatted_flatfiledata_df.xlsx')